<launch>
<!-- <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
      <remap from="scan" to="/scan" />
      <rosparam command="load" file="$(find turtlebot3_auto_docking)/filter/turtlebot3_follow_filter.yaml" />
      <remap from="scan_filtered" to="/scan_filtered" />
</node>

<node pkg="turtlebot3_auto_docking" type="get_goal_position" output="screen" name="get_goal_position">
</node>

<node pkg="turtlebot3_auto_docking" type="goal_position_broadcaster" output="screen" name="goal_position_broadcaster">
</node> -->

<node pkg="turtlebot3_auto_docking" type="turtlebot3_auto_docking" output="screen" name="turtlebot3_auto_docking">
</node>
</launch>
