<launch>
  <node pkg="turtlebot_follow_turtlebot" type="turtlebot_tf_broadcaster" name="turtlebotA_tf_broadcaster" output="screen">
    <rosparam>
      turtle_name   : "turtlebotA"
      turtle_name_2 : "turtleA_behind"
    </rosparam>
  </node>

  <node pkg="turtlebot_follow_turtlebot" type="turtlebot_tf_broadcaster" name="turtlebotB_tf_broadcaster" output="screen">
    <rosparam>
        turtle_name   : "turtlebotB"
        turtle_name_2 : "turtleB_behind"
        btw_dist      : -0.2
    </rosparam>
  </node>

  <node pkg="turtlebot_follow_turtlebot" type="turtlebot_tf_broadcaster" name="turtlebotC_tf_broadcaster" output="screen">
    <rosparam>
        turtle_name   : "turtlebotC"
        turtle_name_2 : "turtleC_behind"
        btw_dist      : -0.4
    </rosparam>
  </node>

  <node pkg="turtlebot_follow_turtlebot" type="turtlebot_tf_broadcaster" name="turtlebotD_tf_broadcaster" output="screen">
    <rosparam>
        turtle_name   : "turtlebotD"
        turtle_name_2 : "turtleD_behind"
        btw_dist      : -0.6
    </rosparam>
  </node>

  <node pkg="turtlebot_follow_turtlebot" type="turtlebot_follow_turtlebot" name="turtlebotB_follow_turtlebotA" output="screen">
    <rosparam>
        turtlebot   : "turtlebotB"
        target_turtlebot : "turtleA"
        target_turtlebot_behind : "turtleA_behind"
  </node>

  <node pkg="turtlebot_follow_turtlebot" type="turtlebot_follow_turtlebot" name="turtlebotC_follow_turtlebotB" output="screen">
    <rosparam>
        turtlebot   : "turtlebotC"
        target_turtlebot : "turtleB"
        target_turtlebot_behind : "turtleB_behind"
  </node>

  <node pkg="turtlebot_follow_turtlebot" type="turtlebot_follow_turtlebot" name="turtlebotD_follow_turtlebotC" output="screen">
    <rosparam>
        turtlebot   : "turtlebotD"
        target_turtlebot : "turtleC"
        target_turtlebot_behind : "turtleC_behind"
  </node>

</launch>
